*{
	margin: 0;
	padding: 0;
}
.header{
	height: 156px;
	background-image:url(images/bg1.jpg); 
	background-repeat:repeat-x; 

}
.header .content{
	width: 922px;
	height: 156px;
	margin: 0 auto;
}
.header .content .logo img{
	margin-top: 35px;
	margin-left: 1px;
	float: left;
	
}


.header .content .nav ul{

	float:left;
	margin-left: 18px;
	margin-top: 36px;

}
.header .nav ul li{
	float: left;
	height: 13px;
	width: 87px;
	list-style: none;

}
.header .nav ul li a{
	color: black;
	text-decoration: none;
	line-height: 12px;
}
.header .content .search{
	margin-right: 39px;
	margin-top: 31px;
	float: right;
	height: 25px;
	width: 134px;
}
.header .content .search .txt{
	margin-top: 3px;
	line-height: 20px;
	width: 102px;
	border-top: 1px solid #404040;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #d6d7cf;
	border-right: 1px solid #d6d7cf;
	float: left;
}
.header .content .search .box{
	width: 25px;
	height: 25px;
	background-color: #bbd663;
	border-radius: 25px;
	text-align: center;
	line-height: 25px;
	float: right;
	border: none;
	outline: none;
}
.banner{
	width: 920px;
	height: 200px;
	margin: 0 auto;
}
.container{
	height: 347px;
	width: 920px;
	margin: 0 auto;
}



.container .left{
	height: 347px;
	float: left;
	width: 252px;
}

.container .formbox{
	width: 260px;
	height: 287px;
	margin-top: 25px;
	background-color: #f0f0f0;
	overflow: hidden;

}
.container .formbox form{
	background-color: #fff;
	width: 218px;
	height: 226px;
	margin-left: 11px;
	margin-top: 5px;
	border: 1px solid #dbdbdb;
	padding-left: 20px;
}

.container .formbox h3{
	margin-top: 11px;
	margin-left: 11px;
	font-size: 14px;
	color: #7e932a;
	display: inline-block;
}
.container .formbox img{
	margin-top: 13px;
	margin-left: 9px;

}
.container .formbox .username{
	margin-top: 16px;
	
}
.container .formbox .username input{
	width: 115px;
	height:20px;
}
.container .formbox .password{
	margin-top: 9px;
	
}
.container .formbox .password input{
	width: 115px;
	height:20px;
}
.container .formbox .identity{
	margin-top: 9px;
	
}
.container .formbox .identity select{
	width: 108px;
	height: 20px;
}

.container .formbox .yanzheng input{
	width: 58px;
	height: 19px;
}
.container .formbox .yanzheng img{
	margin-left: 8px;
	display: inline-block;

}
.container .formbox .deng{
	width: 37px;
	height: 21px;
	margin-top: 9px;
	margin-left: 83px;
	display: block;
}
.container .formbox p{
	font-size: 12px;

	display: inline-block;	
}
.container .formbox .p1{
	margin-left: 15px;
}
.container .formbox .p2{
	margin-left: 50px;
}
.container .formbox .p2 a{
	color: #7f8c47;
}
.container .center{
	height: 347px;
	float: left;
	width: 314px;
	padding-left: 30px;
	padding-top: 28px;
}
.container .center h3{
	font-size: 14px;
	width: 300px;
	height: 19px;
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	color: #9e5010;
}
.container .center ul{
	margin-top: 13px;
	padding-left: 20px;
}
.container .center ul li a{
	text-decoration: none;
	font-size: 12px;
	color: black;
}
.container .center .g{
	font-size: 12px;
	color: #899a34;
	margin-top: 13px;
	float: right;
}
.container .right{
	height: 347px;
	float: left;
	width: 294px;
	padding-left: 30px;
	padding-top: 28px;
	color: #9e5010;
}
.container .right h3{
	font-size: 14px;
	width: 300px;
	height: 19px;
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
}
.container .right ul{
	margin-top: 13px;
	padding-left: 20px;
}
.container .right ul li a{
	text-decoration: none;
	font-size: 12px;
	color: black;
}
.container .right .f{
	font-size: 12px;
	color: #899a34;
	margin-top: 13px;
	float: right;
}
.footer{
	height: 233px;

	margin:0 auto;
	margin-top: 38px;
}
.footer .top{
	height: 130px;
	background-image:url(images/444.jpg);
	margin:0 auto;
}
.footer .top ul li h3{
	padding-left: 50px;
}
.footer .top ul li img{
	float:left;
	margin-left: 40px;
}
.footer .top ul{
	height: 130px;
	margin-left: 150px;

}
.footer .top ul li{
	width: 245px;	
	text-align: center;
	float:left;
	margin-top: 45px;
}
.footer	.top ul li a{
	font-size: 16px;
	text-decoration: none;
}
.footer	.top ul li .aa{
	padding-left: 60px;
}
.footer	.top ul li{
	list-style: none;
	border-right:1px solid #bcbcbc;

}
.footer .bottom{
	height: 103px;
	margin:0 auto;
	background-color: #141414;
}
.footer .bottom .f-b-l{
	width: 665px;
	height: 103px;
	float:left;

}
.footer .bottom .f-b-l ul {
	margin-left: 180px;
	margin-top: 22px;
}
.footer .bottom .f-b-l ul li a {
	font-size:12px;
	border-right: 1px solid black;
	color:#444444;
	text-decoration: none;
}
.footer .bottom .f-b-l ul li{
	float:left;
	list-style:none;
	text-align: center;
	border-right:1px solid #585858;
	width: 150px;
}
.footer .bottom .f-b-l ul .aa{
	border:none;
}
.footer .bottom .f-b-r img{
	margin-left: 200px;
}
